*{
    margin: 0;
    padding: 0;
    font-family: Cambria;
}

.background{
  height: 100%;
  width: 100%;
  background-color: cornsilk;
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: 0;
}

#form-box{
  width: 400px;
  height: 400px;
  position: relative;
  background-color: rgb(92, 133, 113);
  margin-top: 45px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.button-area{
  width: 400px;
  height: 25px;
  position: relative;
}

.toggle-button{
  width: 198px;
  height: 35px;
  margin: 0 0;
  padding: 5px;
  position: relative;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  color:  white;
  font-weight: bolder;
  font-size: large;
  outline: none;
  transition: 5ms;
}

.input-field{
  width:400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding: 10px 10px;
  position: absolute;
  transition: 5ms;
}

.input{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 260px;
  height: 40px;
  margin: 8px 0;
  position: relative;
}

.check-box{
  margin: 10px 0px;
  padding: 1px;
  position: relative;
}

span{
  font-family: Cambria;
  color:white;
}

.submit-button{
  width: 50%;
  height: auto;
  position: relative;
  margin: 10px 60px;
  margin-left: 40px;
  padding: 5px 0;
  font-family: Cambria;
  font-size: large;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  background-color: rgba(0,0,0,0.8);
}

.submit-button:active{
  background-color: black;
}

a:link{
  color: white;
  text-decoration: none;
}

a:hover{
  color: black;
}

a:visited{
  color: white;
}

a:active{
  color: black;
}

#changeDetails{
  left: 0px;
}

#changePassword{
  left: 350px;
}

#addMedicine{
  left: 0px;
}

#updateMedicine{
  left: 350px;
}

label{
  color: white;
}

#change-button{
  background-color:rgba(0, 0, 0, 0.8);
}

#password-button{
  background-color: transparent;
}

#add-button{
  background-color:rgba(0, 0, 0, 0.8);
}

#update-button{
  background-color: transparent;
}

h1{
  color: rgb(0, 0, 0);
}