* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria;
    font-weight: bold;
    color: black;
}

#background {
    width: 100%;
    height: 100%;
    background-color: cornsilk;
    position: absolute;
    background-position: center;
    background-size: cover;
    position: absolute;
    margin: 0;
}

body {
    background-color: cornsilk;
}

nav {
    width: 100%;
    height: 50px;
    background-color: white;
}

.active {
    background-color: rgb(94, 168, 131);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
    font-size: max(1.3vw, 20px);
    min-width: max-content;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

[class*="block-"] {
    height: 200px;
    padding: 20px 5px;
    align-items: center;
    text-align: center;
}

#profile {}

h1 {
    color: rgb(94, 168, 131);
    text-align: left;
}

#button {
    background-color: rgba(0, 0, 0, 0.8);
    position: right;
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 50%;
    }
    .block-0 {
        width: 100%;
    }
    .block-1 {
        height: fit-content;
    }
    nav.li {
        float: none;
    }
}

[class*="col-"] {
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: white;
    place-items: center;
}

.block-1 {
    background-color: #333;
    color: rgb(255, 255, 255);
    font-size: max(1.4vw, 20px);
    padding: 40px;
    text-align: left;
    height: inherit;
    min-height: 320px;
    max-height: 320px;
    overflow: hidden;
}

#form-box {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: rgb(92, 133, 113);
    margin-top: 45px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#form-box-2 {
    width: 400px;
    height: 700px;
    position: relative;
    background-color: rgb(92, 133, 113);
    margin-top: 45px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.button-area {
    width: 400px;
    height: 25px;
    position: relative;
}

.toggle-button {
    width: 198px;
    height: 35px;
    margin: 0 0;
    padding: 5px;
    position: relative;
    border-width: 0;
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: large;
    outline: none;
    transition: 5ms;
}

.input-field {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 10px 10px;
    position: absolute;
    transition: 5ms;
}

.input {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: 260px;
    height: 40px;
    margin: 8px 0;
    position: relative;
}

.submit-button {
    width: 50%;
    height: auto;
    position: relative;
    margin: 10px 60px;
    margin-left: 40px;
    padding: 5px 0;
    font-family: Cambria;
    font-size: large;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.submit-button:active {
    background-color: black;
}

.search-button {
    width: 50%;
    height: auto;
    position: relative;
    margin: 10px 60px;
    margin-left: 40px;
    padding: 5px 0;
    font-family: Cambria;
    font-size: large;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.search-button:active {
    background-color: black;
}

.check-box {
    margin: 10px 0px;
    padding: 1px;
    position: relative;
}

span {
    font-family: Cambria;
    color: white;
}

label {
    color: white;
}