body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212121;
    text-align: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left center;
}

a {
    color: #003cff;
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 0;
    font-family: monospace;
}

button:focus {
    outline: none;
}

@media (max-width:768px) {
    [class*="col-"] {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

[class*="col-"] {
    display: block;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #00000060;
    place-items: center;
    flex: content;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-around;
    margin: 0;
}

.avatar {
    border-radius: 50%;
    width: 50px;
}

.avatar-small {
    border-radius: 50%;
    width: 30px;
}

.avatar-larger {
    border-radius: 50%;
    width: 80px;
}

.button-medium {
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: lighter;
    opacity: 1;
    text-decoration: none;
    margin-bottom: 10px;
}

.button-medium:hover {
    opacity: 0.5;
    text-decoration: none;
    border-radius: 50px;
}

.button-normal {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    font-weight: bold;
    opacity: 1;
    text-decoration: none;
}

.button-normal:hover {
    opacity: 0.5;
    text-decoration: none;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
    list-style: none;
    background-color: #00000060;
    text-decoration: none;
    justify-content: space-between;
}

.nav-item {
    padding: 10px 30px;
    color: #000000;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nav-item:hover {
    background-color: #b4ccfff5;
}

.nav-item a {
    color: #000;
}

.container-small {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    background-color: transparent;
    font-size: 50px;
    font-weight: bolder;
    font-family: Roboto;
    color: #c70000;
}


.block > .profile-card-details {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    background-image: linear-gradient(45deg, oldlace, transparent), url(icons/bg-2.jpg);
    margin: 0px 10px 0px 15px;
    padding: 10px 50px 20px 10px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    background-size: cover;
    font: status-bar;
}

.block>.profile-card-details>.title {
    flex-basis: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;
    color: rgb(10, 0, 17);
    text-transform: uppercase;
    text-align: center;
}

.block>.profile-card-details>.radio-btn {
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

.block>.profile-card-details>.field {
    font-family: 'Montserrat', sans-serif;
    align-self: flex-start;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
}

.field,
.val_field {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
    text-align: left;
}

.val_field {
    margin-bottom: 20px;
}

@media (max-width:768px) {
    .block>.profile-card-details {
        width: 500px;
    }
}

@media (max-width:600px) {
    .block>.profile-card-details {
        width: 300px;
    }
}

.profile-card-btn {
    justify-self: end;
    margin-bottom: 10px;
    margin-right: 10px;
}

.taskboard {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 30px 0 30px 0;
    height: fit-content;
    justify-content: space-around;
    margin: 20px;
}

.task-card {
    align-content: center;
    width: 40vw;
    min-height: 140px;
    text-align: center;
    margin: 0px 0 10px 0;
    background-color: oldlace;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    color: black;
    padding-top: 0.5px;
    padding-bottom: 20px;
}

.dropdown-content {
    width: inherit;
    display: none;
    position: relative;
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    z-index: 1;
}

.dropdown-content>ul>li {
    width: inherit;
    min-width: fit-content;
    height: fit-content;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-right: 40px;
    padding: 5px;
    background-color: white;
}

.dropdown-content>ul>li>a {
    width: inherit;
    color: rgb(7, 7, 7);
}

.dropdown-content>ul>li:hover {
    background-color: rgb(24, 24, 24);
}

.dropdown-content>ul>li:hover a {
    color: white;
}

.task-card:hover p {
    display: none;
}

#task:hover .dropdown-content {
    display: block;
}

#task:hover .s-title{
    display: none;
}

#task:hover .m-title{
    display: none;
}

.dropdown {
    width: inherit;
    position: relative;
    display: inline-block;
}

.dropdown-item {
    display: none;
    position: absolute;
    background-color: #ffffff;
    font-size: 15px;
    padding-right: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    right: 0;
}

.dropdown:hover .dropdown-item {
    display: block;
}

.dropdown-item>ul>li {
    width: inherit;
    text-decoration: none;
    margin: 10px;
    text-align: center;
}

.dropdown-item>ul>li:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.databoard {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-evenly;
}

.data-card {
    flex-basis: 35vw;
    min-height: 100px;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    background-color: oldlace;
    border-radius: 20px;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
}

#form-message {
    width: 100%;
    margin-top: 10px;
    width: inherit;
    text-align: center;
    font-family: 'Nunito' sans-serif;
    font-size: 18px;
    font-weight: Bold;
    color: rgb(0, 0, 0);
    background-color: white;
}

.input-error {
    box-shadow: 0 0 3px red;
    background-color: rgba(255, 0, 0, 0.0.5);
}

.error-message {
    width: 100%;
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.btn-area {
    display: flex;
    width: inherit;
    margin: 10px 10px 0px 15px;
    justify-content: center;
}

.submit-btn {
    width: 20%;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bolder;
    border: 0px;
    position: relative;
    background: #7562b6;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

.submit-btn:hover {
    opacity: 0.9;
}

.block .form-box .title {
    font-family: "arial,helvetica,sans-serif";
    width: 600px;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ff0055;
    text-transform: uppercase;
    text-align: center;
}

.title{
    width: auto;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ff0055;
    text-transform: uppercase;
    text-align: center;
}

.block>form>.form-box>.radio-btn {
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

.block>form>.form-box {
    width: 600px;
}

.block>form>.form-box>.label {
    font-family: 'Lato', sans-serif;
    color: #6e5c91;
    align-self: flex-start;
    font-size: 15px;
    font-weight: bold;
    width: 180px;
}

.block>form>.form-box>.input>input {
    border-color: transparent;
    border-bottom: 2px solid #6e8edf;
    background-color: #e6e3e321;
    border-radius: 3px;
    width: 300px;
    font-weight: bold;
}

.block>form>.form-box>.input>select {
    margin: 10px 20px 0px 20px;
    padding-left: 30px;
    background-color: #e6e3e321;
    border-color: transparent;
    border-bottom: 2px solid #6e8edf;
    border-radius: 3px;
    width: 340px;
    height: 30px;
    font-weight: bold;
}

@media (max-width:768px) {
    .block>form>.form-box {
        width: 500px;
    }
    .block>.form-name {
        width: 500px;
    }
    .block>.btn-area>.toggle-button {
        width: 310px;
    }
}

@media (max-width:600px) {
    .block>form>.form-box {
        width: 300px;
    }
    .block>.form-name {
        width: 300px;
    }
    .block>.btn-area>.toggle-button {
        width: 160px;
    }
}

.toggle-button {
    width: 310px;
    height: 35px;
    margin: 0 0;
    padding: 5px;
    position: relative;
    border-width: 0;
    cursor: pointer;
    text-align: center;
    color: rgb(243, 241, 241);
    background-color: rgb(13, 2, 66);
    border: 1px solid #fff;
    font-weight: bolder;
    font-size: large;
    outline: none;
    transition: 5ms;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    background-color: #fdfdfda2;
    padding: 15px;
    justify-content: space-between;
}

.card-medium {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 450px;
    margin: 10px 5px 10px 5px;
    padding: 10px;
    background-color: rgba(5, 5, 5, 0.603);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}

.card-small {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 200px;
    margin: 10px 5px;
    padding: 10px;
    background-color: rgba(5, 5, 5, 0.603);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}

.card-medium>div,
.card-small>div {
    width: inherit;
    font-size: 20px;
    font-weight: bolder;
    color: #ff0055;
}

@media (max-width:900px) {
    .card-medium {
        width: 400px;
    }
    .card-small {
        width: 200px;
    }
    .card-medium>div,
    .card-small {
        font-size: 18px;
    }
}

@media (max-width:768px) {
    .card-medium {
        width: inherit;
    }
    .card-small {
        width: inherit;
    }
    .card-medium>div,
    .card-small>div {
        font-size: 16px;
        font-weight: bold;
    }
    .card-large>.card-details {
        flex-basis: 28%;
    }
}

.card-medium>.card-details,
.card-small>.card-details {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    color: black;
    text-align: left;
    padding-left: 20px;
}

.card-medium>.card-details {
    width: inherit;
}

.card-large {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: inherit;
    margin: 10px 5px 10px 5px;
    padding: 10px;
    background-color: rgba(104, 104, 104, 0.603);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.card-large>.card-details {
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    flex-basis: 31%;
    padding: 10px 0px 10px 0px;
}

.card-large>div {
    width: inherit;
    font-size: 20px;
    font-weight: bolder;
}

[class*="box-"] {
    padding: 50px 5px;
    margin: 0px 10px 10px 15px;
    align-items: center;
    text-align: center;
}

.box-0 {
    height: fit-content;
    background-color: #a7a7a71f;
    font-size: max(2vw, 25px);
}

.box-0>.input {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: 1px solid #d5dbd9;
    background-color: #ffffff21;
    width: 300px;
    height: 24px;
    margin: 8px 0;
    position: relative;
}

.box-0>select {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: thin;
    border-style: solid;
    border-color: 1px solid #d5dbd9;
    background-color: #e6e3e321;
    border-radius: 3px;
    width: 300px;
    height: 24px;
}

.box-container {
    display: grid;
    position: absolute;
    width: max-content;
    height: fit-content;
    padding: 10px;
    background-color: #fffffff1;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.6);
    justify-items: center;
    margin-bottom: 20px;
}

.box-container>.form-name {
    margin-top: 20px;
    width: 635px;
    margin-bottom: 25px;
    color: #ff0055;
}

.container-grid {
    width: inherit;
    display: grid;
    place-items: center;
    background-color: transparent;
    margin: 20px 0px;
    color: rgb(13, 2, 66);
}

.container-grid>.form-name {
    background-color: black;
    color: white;
}

.table-box {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 10px 0px;
    padding: 30px;
    width: fit-content;
    background-color: #00000030;
    justify-content: space-evenly;
    border-collapse: collapse;
}

.reg-table {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}

.reg-table th,
.reg-table td {
    padding: 5px 20px 5px 20px;
    font-size: max(1.2vw, 14px);
    font-weight: normal;
    width: fit-content;
}

.reg-table tr {
    height: 30px;
    background-color: white;
}

.reg-table th {
    background-color: rgba(1, 102, 80, 0.712);
    font-weight: normal;
    font-size: max(1.4vw, 14px);
    color: #fff;
}

.reg-table tr:nth-child(odd) {
    background-color: rgb(179, 212, 205);
}

.reg-table tr:nth-child(even) {
    background-color: rgb(208, 211, 209);
}

.table-btn {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: #000f3f;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 3px;
    opacity: 1;
    text-decoration: none;
    align-self: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.doctor-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: black;
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 15px;
    align-items: flex-end;
    margin: 5px 0px;
    background-color: white;
}

.card-details {
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.doctor-card>.card-details>img {
    border-radius: 20%;
    border-width: 2px;
    border-color: black;
}

.channel-btn {
    background-color: rgb(1, 3, 87);
    color: white;
    font-size: 20px;
    font-weight: normal;
    width: 160px;
    border: none;
    padding: 6px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    margin-bottom: 10px;
    width: auto;
}

@media (max-width:768px) {
    .card-details {
        width: fit-content;
    }
    .channel-btn {
        width: inherit;
    }
}

@media (max-width:600px) {
    .card-details {
        font-size: 18px;
        width: fit-content;
    }
    .channel-btn {
        width: inherit;
        font-size: 18px;
    }
}

.schedule-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: black;
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 15px;
    align-items: flex-end;
    margin: 5px 0px;
    background-color: white;
}

.schedule-card>.card-details {
    width: 200px;
    margin-bottom: 0px;
}

.schedule-card>div>.channel-btn {
    margin-bottom: 0;
    align-self: start;
}

.doctor-card-large {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 0, 0);
    padding: 15px 15px;
    margin: 5px 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
    align-items: baseline;
}

.doctor-card-large>.card-details {
    width: fit-content;
    font-weight: normal;
    font-size: 20px;
}

.doctor-card-large>.card-details>div {
    padding-top: 5px;
    padding-right: 5px;
    background-color: lightgray;
    font-family: 'Segoe UI';
    font-size: 22px;
    color: rgb(18, 0, 105);
}

@media (max-width: 768px) {
    .doctor-card-large {
        max-width: inherit;
        font-size: 16px;
        font-weight: normal;
    }
    .doctor-card-large>.card-details {
        font-size: 16px;
        font-weight: normal;
    }
    .doctor-card-large>.card-details>div {
        font-size: 18px;
        font-weight: normal;
    }
    .doctor-card-large>.card-details>img {
        width: 30px;
        height: 30px;
    }
}

.statistic-card {
    width: auto;
    display: flex;
    background-color: transparent;
    justify-content: center;
    padding: 10px;
}

#chart_div {
    width: 90vw;
    padding: 10px;
}

#piechart-1 {
    flex-basis: 50%;
    padding: 10px;
}

#piechart-2 {
    flex-basis: 50%;
    padding: 10px;
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    font-size: 16px;
    margin: 20px;
    justify-content: space-between;
    padding: 2px;
    border: none;
    border-radius: 5px;
    background-color: #212121;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.site-search>input,
.site-search>select {
    width: 180px;
    margin: 5px 20px 5px 10px;
    padding: 10px;
    border-width: 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}

.site-search > select{
    height: 100%;
    background-color: white;
}

.site-search>input:focus,
.site-search>select:focus {
    outline: none;
}

.site-search>button {
    background-color: #6ed122;
    height: inherit;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 16px;
    border: 1px rgb(1, 93, 116) solid;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(65, 37, 37, 0.1);
}

.search-item>input:hover,
.search-btn:hover {
    opacity: 0.6;
}

.container-t {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 90%;
    height: max-content;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
    margin: 20px 10px 0px 15px;
    margin-bottom: 20px;
}

.container-t>.topic {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ff0055;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);*/
}

.reg-table button {
    position: relative;
    color: rgb(4, 37, 27);
    background-color: #248376;
    padding: 5px 20px 3px 20px;
    cursor: pointer;
    font-weight: bolder;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    opacity: 1;
    text-decoration: none;
    align-self: center;
    box-shadow: 0px 0px 0px 0px rgba(10, 88, 72, 0.3);
}

table>thead,
table>tbody {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: fit-content;
}

.mainNav {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: 30px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: #1c1927c4;
    text-decoration: none;
    justify-content: content-left;
    border-radius: 5px;
}

.mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mainNav ul li {
    position: relative;
    float: left;
    min-width: max-content;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    margin: 5px 20x 10px 30px;
    padding: 5px 5px 10px 30px;
}

.mainNav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 10px 40x 10px 10px;
    text-decoration: none;
}

.mainNav .pic {
    position: relative;
    width: 25px;
    height: 20px;
    border-radius: 10%;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    margin: 0px 2px 0px 2px;
    background-color: white;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    align-self: left;
}

@media screen and (max-width: 600px) {
    .mainNav.responsive {
        position: relative;
    }
    .mainNav.responsive a.pic {
        position: absolute;
        right: 0;
        top: 0;
    }
    .mainNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.calendar {
    width: 100%;
    background-color: white;
    margin: 0 3% 0 3%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 3% 0 3%;
}

.calendar-row {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 5px;
}

[class*='calendar-'] {
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 2px;
}

@media screen and (max-width:800px) {
    .calendar-day,
    .calendar-doctor {
        font-size: 1.4vw;
        width: 10vw;
    }
}

@media screen and (min-width:800px) {
    .calendar-day,
    .calendar-doctor {
        font-size: 1.2vw;
        width: 11vw;
    }
}

.calendar-day {
    margin-right: 2px;
    padding: 4px;
    background-color: #1d1d1f;
    color: white;
}

.calendar-doctor {
    margin-right: 2px;
    padding: 4px;
    font-size: 16px;
    font-size: 1vw;
    background-color: #69f0ae;
    min-height: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px black solid;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

tr {
    padding: 5px 0px;
    box-shadow: 0px 8px 16px 0px rgba(255, 192, 140, 0.1);
    background-color: #69f0ae;
}

td,
th {
    width: max-content;
    background-color: inherit;
    padding: 10px 20px;
}

tr:nth-child(1) {
    background-color: #000f3f;
}

tr:nth-child(odd) {
    background-color: #b8cac7;
    padding: 10px 25px;
}

#head_row {
    background-color: #0c0c0c;
    color: white;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #69f0ae;
}

tr:nth-child(even) {
    background-color: white;
}

#head_row {
    background-color: #0c0c0c;
    color: white;
    font-weight: bold;
}

td > a{
    display: block;
    width: 100%;
    height: 100%;
}

.tb-btn {
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 40px;
    background-color: #7045b4;
}

button:hover {background-color: white}

button:active {

  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tb-btn :visited{
    background-color: white;
}

#td-large{
    font-size: 18px;
}

.table {
    width: 100%;
    margin: 20px;
    overflow-x: auto;
    border: 1px black solid;
}


select {
    background-color: white;
    height: 100%;
    border: none;
    outline: none;
}

.topic1 {
    width: 100%;
    position: relative;
    padding: 10px 0 10px;
    margin-bottom: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.contact-box {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    font-family: 'Quicksand', sans-serif;
    margin: 50px;
    align-items: center;
}

.label {
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    width: 300px;
    margin: 10px 0 10px 0;
}

.input>input {
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: white;
    width: 380px;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 0 5px 20px;
}

.input>select {
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: white;
    width: 400px;
    height: 40px;
    font-weight: bold;
    padding: 5px 0 5px 20px;
}

.title {
    position: relative;
    padding: 10px 0 10px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-align: center;
    border: 2px white solid;
}

.left {
    background: no-repeat center;
    background-size: contain;
    height: 100%;
    margin: 20px;
}

.right {
    width: 450px;
    padding: 25px 40px;
    background-color: #69f0ae;
}

.container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
}

.btn {
    width: 410px;
    padding: 0.5rem 1rem;
    background-color: #7045b4;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

.btn:hover {
    background-color: white;
}

#login-ref {
    color: black;
    font-size: 18px;
    padding: 10px;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
}

#profile-board {
    border-radius: 50px;
    flex-basis: 40%;
}

#profile {
    width: 350px;
    font-size: 1.4rem;
    margin: 30px;
    height: 80%;
}

#task {
    flex-basis: 80%;
    margin: 10px;
    height: max-content;
}

.s-title {
    height: 110px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.m-title {
    height: 80px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.stat {
    width: 90%;
    text-align: center;
    background-color: #69f0ae;
    padding: 20px;
    margin-bottom: 20px;
}

#stat-card {
    max-width: 100%;
}

#stat-card>.right {
    width: 1400px;
}

a > #a-btn{
    display: block;
    width: 100px;
    height: 50px;
}

#table-message{
    width: 100%;
    font-size: 20px;
    text-align: center;
}

#doctor-avatar{
    width: 70px;
    height: 70px;
    margin: 10px;
    background-image: url('icons/doctor.svg');
    background-size: contain;
}

#calendar-avatar{
    width: 70px;
    height: 70px;
    margin: 10px;
    background-image: url('icons/calendar.svg');
    background-size: contain;
}

#doctor-large{
    width: 300px;
    min-height:300px;
    margin: 10px;
    background-image: url('icons/doctor.svg');
    background-size: contain;
}
