:root {
    --main-padding: 10px;
    --main-border-radius: 5px;
    --top-border-radius: 5px 5px 0 0;
    --bottom-border-radius: 0 0 5px 5px;
    --left-border-radius: 5px 0 0 5px;
    --right-border-radius: 0 5px 5px 0;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --large-padding: 20px;
    --title-color: #CF6AFF;
    --small-margin: 10px;
    --large-margin: 20px;
    --extra-large-margin: 35px;
    --border-left: 50px #5e60ce solid;
    --small-border-left: 20px #560bad solid;
    --nav-color: #ffffff;
    --side-bar-color: #5e60ce;
    --databoard-color: #3e37c96e;
    --table-color: #f5f5f5;
    --footer-color: #7e7e7e7c;
    --box-shadow: 0 0 5px 5px rgba(180, 179, 179, 0.288);
    --btn-color: #5e60ce;
    --border-line: 1px black solid;
    --form-title-color: rgb(45, 0, 128);
    --pcolor: rgb(0, 14, 61);
    --scolor: rgba(0, 217, 255, 0.699);
}

body {
    margin: 0;
    background-color: #f8f7ff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

[class*="container-"] {
    height: 100vh;
    display: grid;
}

.container-1 {
    grid-template-columns: 0.15fr 0.3fr 0.3fr 0.3fr;
    grid-template-rows: 0.15fr 0.4fr 0.6fr 0.7fr 0.1fr;
    grid-template-areas: "nav nav nav nav" "sidebar dashboard dashboard dashboard" "sidebar databoard-1 databoard-2 databoard-3" "sidebar taskboard taskboard taskboard" "footer footer footer footer";
}

.container-2 {
    grid-template-columns: 0.15fr 0.9fr;
    grid-template-rows: 0.15fr 1.6fr 0.1fr;
    grid-template-areas: "nav nav" "sidebar form" "footer footer";
}

.container-3 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1.7fr 0.1fr;
    grid-template-areas: "nav" "form" "footer";
}

.container-4 {
    grid-template-columns: 0.15fr 0.9fr;
    grid-template-rows: 0.15fr 0.3fr 1.4fr 0.1fr;
    grid-template-areas: "nav nav" "sidebar search" "sidebar table" "footer footer";
}

.container-5 {
    grid-template-columns: 0.15fr 0.9fr;
    grid-template-rows: 0.15fr 1.7fr 0.1fr;
    grid-template-areas: "nav nav" "sidebar container-t" "footer footer";
}

.container-6 {
    grid-template-columns: 0.15fr 0.4fr 0.5fr;
    grid-template-rows: 0.15fr 0.8fr 0.9fr 0.1fr;
    grid-template-areas: "nav nav nav" "sidebar form form" "sidebar taskboard taskboard" "footer footer footer";
}

.container-7 {
    grid-template-columns: 0.15fr 0.9fr;
    grid-template-rows: 0.15fr 0.8fr 0.9fr 0.1fr;
    grid-template-areas: "nav nav" "sidebar details" "sidebar table" "footer footer";
}

.container-8 {
    grid-template-columns: 0.15fr 0.5fr 0.5fr;
    grid-template-rows: 0.15fr 0.7fr 1fr 0.1fr;
    grid-template-areas: "nav nav nav" "sidebar form selected" "sidebar table table" "footer footer footer";
}

.container-9 {
    grid-template-columns: 0.15fr 0.5fr 0.4fr;
    grid-template-rows: 0.15fr 0.6fr 1.1fr 0.1fr;
    grid-template-areas: "nav nav nav" "sidebar selection table" "sidebar form form" "footer footer footer";
}

.container-10 {
    grid-template-columns: 0.15fr 0.5fr 0.4fr;
    grid-template-rows: 0.15fr 0.6fr 1.1fr 0.1fr;
    grid-template-areas: "nav nav nav" "sidebar form form" "sidebar details table" "footer footer footer";
}

.container-11 {
    grid-template-columns: 0.15fr 0.9fr;
    grid-template-rows: 0.15fr 0.3fr 1.4fr 0.1fr;
    grid-template-areas: "nav nav" "sidebar search" "sidebar stat" "footer footer";
}

.container-t {
    display: grid;
    position: center;
    width: max-content;
    height: max-content;
    padding: 20px;
    background-color: #fffffff1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
    margin: 20px 10px 0px 15px;
    justify-items: center;
    margin-bottom: 20px;
}

.nav {
    background-color: var(--nav-color);
    color: rgb(17, 17, 17);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: nav;
    background-position: var(--extra-large-margin);
    background-repeat: no-repeat;
}

.nav a {
    float: right;
    display: block;
    color: #6404d3;
    text-align: center;
    padding: 14px 16px;
    margin-top: 26px;
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav a:hover {
    color: black;
    padding: 14px 16px;
}

.nav a.active {
    background-color: #f5f3f4;
    color: #0c0c0b;
    padding: 14px 16px;
}

.nav>p {
    display: block;
    text-align: center;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {
        display: none;
    }
}

#nav-icon {
    margin-top: var(--large-margin);
    margin-left: var(--small-margin);
    background-image: url(list.png);
    width: 34px;
    height: 35px;
    border: none;
    display: none;
}

#close-icon {
    margin-top: var(--large-margin);
    margin-left: var(--small-margin);
    background-image: url(list.png);
    width: 34px;
    height: 35px;
    border: none;
    display: none;
}

.sidebar {
    background: var(--side-bar-color);
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: sidebar;
    padding: var(--main-padding);
}

.dashboard {
    grid-area: dashboard;
    display: flex;
    flex-wrap: wrap;
    padding: var(--main-padding);
    justify-content: space-between;
}

#dashboard-title {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    padding: var(--large-padding);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border-radius: var(--main-border-radius);
    text-align: center;
    color: #000000;
}

#welcome-board {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border-radius: var(--main-border-radius);
    text-align: center;
    align-self: center;
    width: 400px;
    margin: var(--small-margin);
}

#welcome-txt {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    /*text-transform: uppercase;*/
    border-radius: var(--main-border-radius);
    text-align: center;
    color: var(--title-color);
    background-color: transparent;
    padding: var(--large-padding);
    color: rgb(0, 0, 0);
}

[class*="databoard-"] {
    background: #6d6fd57e;
    margin: var(--large-margin);
    border-radius: var(--main-border-radius);
}

.databoard-1 {
    grid-area: databoard-1;
}

.databoard-2 {
    grid-area: databoard-2;
}

.databoard-3 {
    grid-area: databoard-3;
}

#databord-title {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#databord-value {
    color: #3a0ca3;
    float: left;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 105px;
}

.taskboard {
    grid-area: taskboard;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    /*text-transform: uppercase;*/
    flex-basis: 24%;
    height: 25%;
    margin: var(--large-margin);
    border-radius: var(--main-border-radius);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: var(--title-color);
    color: #240046;
    padding-top: var(--padding-top);
    border-left: var(--border-left);
    text-decoration: none;
}

.task-large {
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    /*text-transform: uppercase;*/
    flex-basis: 24%;
    height: 75%;
    background-color: white;
    margin: var(--large-margin);
    border-radius: var(--main-border-radius);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: var(--title-color);
    color: #240046;
    padding-top: var(--padding-top);
    border-left: var(--border-left);
    text-decoration: none;
}

.dropdown {
    height: fit-content;
    border-top: 1px rgba(0, 0, 0, 0) solid;
    border-bottom: 1px rgb(230, 230, 230) solid;
    flex-basis: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: normal;
}

.dropdown:nth-child(1) {
    border-top: 1px rgb(230, 230, 230) solid;
}

a {
    text-decoration: none;
    color: white;
}

.dropdown-content {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: white;
    padding: var(--main-padding);
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
    background-color: var(--footer-color);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    grid-area: footer;
    padding: var(--main-padding);
}

@media only screen and (max-width: 580px) {
    .container-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2fr 0.2fr;
        grid-template-areas: "nav" "dashboard" "taskboard" "footer";
    }
    .sidebar {
        z-index: 1;
        display: none;
    }
    #nav-icon {
        display: block;
    }
    .dashboard {
        justify-content: center;
    }
    #dashboard-title {
        display: none;
    }
    #welcome-txt {
        border-radius: var(--main-border-radius);
    }
    #welcome-board {
        width: 100%;
        align-self: center;
    }
    #welcome-img {
        display: none;
    }
    .task {
        flex-basis: 40%;
        height: 20%;
        margin: var(--small-margin);
        border-left: var(--small-border-left);
    }
    [class*="databoard-"] {
        display: none;
    }
}

.form {
    padding: var(--main-padding);
    /*background-color: #f5f5f5;*/
    background-position: left;
    background-repeat: no-repeat;
    grid-area: form;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#selection {
    grid-area: selection;
    border-top: var(--border-line);
    border-right: var(--border-line);
}

.details {
    border-radius: var(--main-border-radius);
    margin: var(--large-margin);
    padding: var(--large-padding);
    background-color: white;
    grid-area: details;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "details-div1 details-div2";
}

[class*="details-div"] {
    padding: var(--large-padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}

.details-div1 {
    grid-area: details-div1;
    border-right: var(--border-line);
}

.details-div2 {
    grid-area: details-div2;
}

.details-title {
    flex-basis: 100%;
    color: var(--form-title-color);
    font-size: 20px;
    margin-bottom: var(--small-margin);
}

.details-field {
    background-color: white;
    flex-basis: 45%;
    font-size: 16px;
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: var(--small-margin);
}

.test-details {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: var(--main-border-radius);
    overflow-y: auto;
    margin: var(--large-margin);
    padding: var(--large-padding);
    background-color: rgb(196, 206, 255);
}

.test-details-div {
    flex-basis: 44%;
    margin: var(--small-margin);
}

#spec {
    background-image: none;
    background-color: white;
    border-top: var(--border-line);
    border-right: var(--border-line);
    padding: 0;
}

#bill-form {
    box-shadow: none;
    margin: 0;
    padding: var(--main-padding);
}

.receipt {
    width: 100%;
    grid-area: receipt;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: var(--main-border-radius);
    margin: var(--large-margin);
    padding: var(--large-padding);
}

[class*="receipt-"] {
    padding: var(--main-padding);
    margin: var(--small-margin);
    width: 40%;
    color: var(--side-bar-color-color);
    font-size: 13px;
    font-weight: bold;
}

.receipt-t {
    width: 90%;
    text-align: center;
}

[class*="form-container"] {
    border-radius: var(--main-border-radius);
    background-color: #ffffff;
    /*Default bg, similar to the background's base color*/
    background-position: right bottom;
    /*Positioning*/
    background-repeat: no-repeat;
    display: grid;
    width: fit-content;
    padding: var(--main-padding);
}

.form-container {
    height: fit-content;
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "form-img form-1 form-2";
}

.form-container1 {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "form-img form-1";
}

.form-container2 {
    padding: var(--large-padding);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    grid-template-columns: 0.1fr 0.8fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "form-img form-1 form-3 form-3";
}

.form-container3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "form-1 form-2";
}

#form-img {
    margin: var(--small-margin);
    background-color: var(--side-bar-color);
    grid-area: form-img;
}

#form-1 {
    margin: var(--small-margin);
    padding: var(--large-padding);
    grid-area: form-1;
}

#form-2 {
    margin: var(--small-margin);
    padding: var(--large-padding);
    grid-area: form-2;
}

#form-3 {
    border-left: 1px black solid;
    margin: var(--small-margin);
    padding: var(--large-padding);
    grid-area: form-3;
    overflow-y: auto;
}

.medicine-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.med-div {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px black solid;
}

.label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #743ebb;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    width: 90%;
    margin: 10px 0 10px 0;
}

.input>input {
    border-style: solid;
    border-color: #b5b5b5;
    background-color: transparent;
    outline: none;
    color: #4e4e4e;
    width: 90%;
    font-size: 15px;
    font-weight: lighter;
    padding: 5px 0 5px 20px;
    margin-bottom: 10px;
}

.input>select {
    border-style: solid;
    border-color: #b5b5b5;
    border-width: 2px;
    background-color: transparent;
    outline: none;
    color: #4e4e4e;
    width: 98%;
    height: 30px;
    font-weight: lighter;
    padding: 5px 0 5px 20px;
    margin-bottom: 10px;
}

.input_m {
    margin: 0;
    padding: 0;
    flex-basis: 48%;
}

.input_s {
    margin: 0;
    padding: 0;
    flex-basis: 21.5%;
}

.m_input {
    border-style: solid;
    border-color: #b5b5b5;
    background-color: transparent;
    outline: none;
    color: #4e4e4e;
    width: 98%;
    font-size: 15px;
    font-weight: lighter;
    padding: 5px 0 5px 5px;
    margin-bottom: 10px;
}

.input-error {
    background-color: rgb(255, 70, 70);
}

.drop-form {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.drop-icon {
    display: block;
    width: 100%;
    text-align: right;
}

button {
    background-color: white;
    border: none;
    outline: none;
}

#add-icon {
    background-color: var(--btn-color);
    padding: 5px 10px;
    border-radius: var(--main-border-radius);
}

.btn {
    width: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: #3e37c96e;
    color: #11006e;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: var(--main-border-radius);
    outline: none;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
    text-align: center;
}

.btn:hover {
    background-color: var(--btn-color);
}

#selected {
    padding: var(--main-padding);
    grid-area: selected;
    border-top: var(--border-line);
    display: flex;
    align-items: center;
    background: none;
    margin: 0;
}

#test-tb {
    box-shadow: none;
    border: none;
}

#test-tb>tr {
    background-color: white;
}

#test-tb>tr:nth-child(1) {
    background-color: #2e1097;
    color: white;
}

#test-tb>tr:nth-last-child(1) {
    background-color: #d7caff;
}

#full-tb-div {
    margin: 5px;
    padding: 0px;
    justify-content: flex-start;
    border-top: var(--border-line);
}

#select-tb-div {
    margin: 5px;
    padding: 0px;
    justify-content: space-around;
}

table>thead, table>tbody {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: fit-content;
}

table {
    border-radius: var(--main-border-radius);
    border-collapse: collapse;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tr {
    padding: 5px 0px;
    box-shadow: 0px 8px 16px 0px rgba(255, 192, 140, 0.1);
    background-color: #b8cac7;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #3a3a3a52;
    outline: none;
}

td, th {
    width: max-content;
    background-color: inherit;
    padding: 5px 20px;
    font-size: 14px;
}

tr:nth-child(1) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: hsl(0, 0%, 100%);
    padding: 5px 25px;
}

tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
    padding: 5px 25px;
}

#head_row {
    background-color: #fdfdff;
    color: rgba(72, 72, 72, 0.802);
    font-weight: bold;
    font-size: 13px;
}

td>a {
    display: block;
    width: 100%;
}

#td-large {
    font-size: 14px;
    font-weight: bold;
}

.table {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 20px;
    overflow-x: auto;
    overflow-y: auto;
    grid-area: table;
    padding: var(--large-padding);
    justify-content: center;
}

#small-tb {
    width: 50%;
}

.tb-btn {
    width: 90px;
    padding: 0.3rem 1rem;
    background-color: #3e37c96e;
    color: #11006e;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: var(--main-border-radius);
    outline: none;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 3px 10px 3px 10px;
}

.search {
    background-color: transparent;
    grid-area: search;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    font-size: 13px;
    margin: 20px;
    justify-content: space-between;
    padding: 2px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.site-search>input, .site-search>select {
    height: auto;
    width: 180px;
    margin: 5px 20px 5px 10px;
    padding: 10px;
    border-radius: var(--main-border-radius);
    border-style: solid;
    border-color: rgba(99, 99, 99, 0.419);
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}

.site-search>select {
    background-color: white;
    color: rgb(120, 120, 120);
    border-style: solid;
    border-color: rgba(99, 99, 99, 0.419);
    border-width: 2px;
    border-radius: var(--main-border-radius);
}

.site-search>input:focus, .site-search>select:focus {
    outline: none;
}

.site-search>button {
    background-color: #bbbbffbf;
    height: inherit;
    color: rgb(30, 9, 49);
    padding: 5px 10px;
    margin-top: 12px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: var(--main-border-radius);
    box-shadow: 0px 8px 16px 0px rgba(65, 37, 37, 0.1);
}

.search-item>input:hover, .search-btn:hover {
    opacity: 0.6;
}

.next-btn {
    height: 40px;
    width: 110px;
    position: relative;
    background-color: #0e09646e;
    color: #0f0f13;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: var(--main-border-radius);
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.pagination {
    width: 50%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--main-padding);
    align-items: center;
}

#doctor-avatar {
    width: 100px;
    height: 70px;
    margin: 10px 10px 10px 10px;
    background-image: url(icons/user.png);
    background-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

#td-large {
    font-size: 13px;
    font-weight: bold;
}

.contact-box {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    align-items: center;
    height: max-content;
}

.left {
    background: no-repeat center;
    background-size: contain;
    height: 100%;
    margin: 20px;
}

.right {
    width: 450px;
    padding: 25px 40px;
    background-color: #edf2fbe1;
}

.title {
    position: relative;
    padding: 10px 0 10px;
    margin-bottom: 0px;
    font-family: 'Redressed', cursive;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    color: #06212e;
    font-weight: bolder;
    text-transform: none;
    text-align: left;
}

.small-title {
    position: relative;
    padding: 10px 0 10px;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    color: #222222;
    text-transform: none;
    text-align: left;
}

.topic {
    font-size: 25px;
    font-weight: 600;
    color: #5e41e2;
    position: relative;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.topic-small {
    font-size: 15px;
    font-weight: 600;
    color: #5e41e2;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calendar {
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 3% 0 3%;
    overflow-x: auto;
    box-shadow: var(--box-shadow);
}

.calendar-row {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

[class*='calendar-'] {
    font-size: 14px;
    font-weight: bold;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    overflow-x: auto;
    margin: 1px;
    padding-left: 2px;
}

@media screen and (max-width:800px) {
    .calendar-day, .calendar-doctor {
        font-size: 14px;
        width: 9vw;
    }
}

@media screen and (min-width:800px) {
    .calendar-day, .calendar-doctor {
        font-size: 14px;
        width: 9vw;
    }
}

.calendar-row {
    background-color: rgb(243, 243, 243);
}

/** stat style **/

@keyframes bake-pie {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

section {
    margin-top: 30px;
}

.pieID {
    display: inline-block;
    vertical-align: top;
}

.pie {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 30px 30px 0;
}

.pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: #EEE;
    border-radius: 50%;
    top: 50px;
    left: 50px;
}

.pie::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
    margin: 220px auto;
}

.slice {
    position: absolute;
    width: 200px;
    height: 200px;
    clip: rect(0px, 200px, 200px, 100px);
    animation: bake-pie 1s;
}

.slice span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
}

.legend {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #FFF;
    padding: 15px;
    font-size: 13px;
}

.legend li {
    width: 110px;
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
}

.legend em {
    font-style: normal;
}

.legend span {
    float: right;
}

.divcon {
    box-shadow: var(--box-shadow);
}

.stat-div {
    color: #000000;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

[class*=grpdiv-inner] {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: fit-content;
}

.grpdiv-inner-2 {
    text-align: center;
}

.grpdiv-inner-3 {
    text-align: center;
}

.grpdiv-outer {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.Dchart {
    width: 100%;
    height: 260px;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#payment-btn {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    margin-top: 28px;
}

#payment-btn:hover {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: #43458b;
}

/** stat css **/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.stat {
    padding: var(--main-padding);
    /*background-color: #f5f5f5;*/
    grid-area: stat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stat-card-div {
    width: 350px;
    padding: var(--main-padding);
    /*background-color: #f5f5f5;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    border-radius: var(--main-border-radius);
}

.stat-card{
    width: 300px;
    height: 150px;
    margin-top: 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--main-border-radius);
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

@keyframes bake-pie {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

:root {
    --pcolor: rgb(0, 14, 61);
    --scolor: rgba(0, 217, 255, 0.699);
}

.body {
    font-family: "Open Sans", Arial;
    background: rgb(255, 255, 255);
    max-width: 100%;
}

.main {
    padding-top: 30px;
    margin-left: 100px;
}

section {
    margin-top: 30px;
}

.pieID {
    display: inline-block;
    vertical-align: top;
}

.pie {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 30px 30px 0;
}

.pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: #EEE;
    border-radius: 50%;
    top: 50px;
    left: 50px;
}

.pie::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
    margin: 220px auto;
}

.slice {
    position: absolute;
    width: 200px;
    height: 200px;
    clip: rect(0px, 200px, 200px, 100px);
    animation: bake-pie 1s;
}

.slice span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
}

.legend {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #FFF;
    padding: 15px;
    font-size: 13px;
    box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
}

.legend li {
    width: 110px;
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
}

.legend em {
    font-style: normal;
}

.legend span {
    float: right;
}

.divcon {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10), 0 10px 20px 0 rgba(0, 0, 0, 0.10);
}

.navitop {
    padding-top: 50px;
    width: 100%;
    height: 120px;
    background-color: rgb(0, 14, 61);
    position: sticky;
    top: 0%;
    z-index: 2;
}

.navibar {
    z-index: 3;
    margin-top: -120px;
    color: rgb(255, 255, 255);
    background-color: var(--pcolor);
    width: 250px;
    position: sticky;
    top: 0%;
    height: 720px;
}

.logo1 {
    width: 200px;
    margin-top: 35px;
    margin-left: 15px;
}

.opt {
    margin-top: 40px;
    text-align: center;
}

.profdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-top: 30.5px;
    background-color: var(--scolor);
    height: 85px;
}

.p1 {
    margin-left: 15px;
    margin-top: 15px;
}

.p2 {
    margin-top: 50px;
    margin-left: -43px;
}

.p3 {
    margin-left: -60px;
    margin-top: 50px;
}

.hylt {
    margin-right: 15px;
    margin-left: 10px;
    padding-top: 8px;
    height: 82px;
    background-color: rgba(247, 247, 247, 0.301);
}

table {
    color: #000000;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d1d1d18c;
}

.whtl1 {
    width: 3px;
    margin-top: -30px;
    margin-left: 250px;
    height: 80px;
    background-color: rgb(255, 255, 255);
}

.whtl2 {
    width: 5px;
    height: 82px;
    margin-left: 1px;
    margin-top: -8px;
    background-color: rgb(255, 255, 255);
}

.hyicon {
    margin-left: 85px;
}

.path {
    color: cornsilk;
    font-size: 25px;
    margin-top: -10px;
    margin-left: 20px;
}

.searchb {
    width: 700px;
    margin-left: 100px;
    height: 50px;
    margin-top: -15px;
    border-radius: 10px;
    border-style: none;
}

.serachicon {
    margin-left: 30px;
    color: rgb(255, 255, 255);
}

[class*="bellicon"] {
    color: rgb(255, 255, 255);
}

.bellicon-1 {
    margin-left: 90px;
}

.bellicon-2 {
    margin-top: 5px;
    margin-left: 940px;
}

.notdiv {
    margin-top: -20px;
    margin-left: -13px;
}

.notimg {
    width: 30px;
    height: 30px;
}

[class*=form1] {
    color: #000000;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(255, 255, 255);
    width: 1267px;
    margin-left: 252px;
}

.form1-1 {
    margin-top: -550px;
}

.form1-2 {
    margin-top: -570px;
}

.form1-3 {
    margin-top: -550px;
}

.iconcol {
    color: rgb(255, 255, 255);
}

.blueicon {
    color: var(--pcolor);
    margin-left: 10px;
    margin-top: 10px;
}

.btnpos {
    margin-left: 1010px;
    margin-top: 10px;
}

.div3 {
    margin-left: 15px;
}

[class*=addbt] {
    background-color: var(--pcolor);
    color: white;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-origin: padding-box;
    border-radius: 5px;
}

.addbt-1 {
    width: 300px;
}

.addbt-2 {
    width: 200px;
}

.table1 {
    margin-left: 25px;
    margin-top: 30px;
    width: 1120px;
}

.inputdivs {
    width: 30%;
    margin-left: 40px;
}

.tableh {
    color: rgba(0, 0, 0, 0.986);
}

.tabler {
    color: var(--pcolor);
}

[class*="tbicon"] {
    margin-left: 25px;
    margin-top: px;
}

.tbicon-1 {
    color: rgb(6, 1, 73);
}

.tbicon-2 {
    color: rgb(211, 17, 3);
}

.tbicon-3 {
    color: rgb(6, 1, 73);
}

.grpdiv {
    padding-top: 20px;
    padding-left: 50px;
    margin-top: 60px;
    width: 40%;
    height: 340px;
    margin-left: 60px;
}

.grpdiv2 {
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 60px;
    width: 69.5%;
    height: 500px;
    margin-left: 47px;
    margin-bottom: 60px;
}

[class*=grpdiv-inner] {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    height: 80%;
    font-size: 18px;
    border-radius: var(--main-border-radius);
    color: var(--side-bar-color);
}

.grpdiv-inner-1 {
    margin-right: 20px;
    width: 15%;
}

.grpdiv-inner-2 {
    text-align: center;
    width: fit-content;
}

.grpdiv-inner-3 {
    width: 77.5%;
    text-align: center;
}

.grpdiv-outer {
    background-color: rgb(255, 255, 255);
    height: 400px;
    justify-content: space-around;
    padding: 0;
}

.Dchart {
    width: 100%;
    height: 260px;
}

.input-label {
    font-weight: bold;
}

#pay_name {
    font-family: "Helvetica, sans-serif";
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
}